<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form class="row g-3 needs-validation novalidate">
        <div class="col-md-4">
            <label class="form-label" for="validationCustom01">First name</label>
            <input class="form-control" id="validationCustom01" name="firstName" required type="text">
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label class="form-label" for="validationCustom02">Last name</label>
            <input class="form-control" id="validationCustom02" name="lastName" required type="text">
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label class="form-label" for="validationCustomUsername">Username</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
                <input aria-describedby="inputGroupPrepend" class="form-control" id="validationCustomUsername"
                       required type="text">
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label class="form-label" for="validationCustom03">City</label>
            <input class="form-control" id="validationCustom03" required type="text">
            <div class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-label" for="validationCustom04">State</label>
            <select class="form-select" id="validationCustom04" required>
                <option disabled selected value="">Choose...</option>
                <option>...</option>
            </select>
            <div class="invalid-feedback">
                Please select a valid state.
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-label" for="validationCustom05">Zip</label>
            <input class="form-control" id="validationCustom05" required type="text">
            <div class="invalid-feedback">
                Please provide a valid zip.
            </div>
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" id="invalidCheck" required type="checkbox" value="">
                <label class="form-check-label" for="invalidCheck">
                    Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                    You must agree before submitting.
                </div>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
    </form>
</body>
</html>